body{
    background-image: url('assets/images/bgHTML.png');
}

#header{
    text-align: center;
}

#controles{
    text-align: center;
    background-color: #3F1B43;
    width:57%;
    margin: 0 auto;
}
